
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Condensed:ital@1&family=Sail&display=swap');



body {
    color: black;
    font-weight: 500;
    background-color: #1CDDEB;
    text-align: center;
}

#header {
    height: 120px;
    width: 100%;
    text-decoration: none;
}

#main-heading {
    font-family: s;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-bottom: 60px;
    padding-left: 10px;
    position: relative;

}

.navbar {
    background-color: rgb(240 249 254 / 60%);
    width: 100%;
    overflow: auto;

}

.navbar a {
    float: left;
    width: 33.3%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
 
}

nav>div {
    width: 33.3%;
    display: inline;

}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

main {
    padding-top: 5%;
}



#hero-image {
    display: block;
    max-width: 70%;
    height: auto;
    margin: auto;
    padding-top: 130px;

}

h2,
h3 {
    text-align: center;
}

video {
    max-width: 70%;
    margin: auto;
    display: block;
}



.contact {
    text-align: center;
}

footer>div {
    text-align: center;
    background-color: rgb(225 237 243 / 50%);
    max-width: 70%;
    margin: auto;

}

.social-icons {
    text-align: center;
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 50px;
    padding: 2%;
    margin: 2%;
    color: white;
}

.sign-up-form {
    text-align: center;
    padding-top: 100px;
    display: block;
}

    section {
        max-width: 70%;
        margin: auto;
        background-color: rgb(225 237 243 / 50%);
    }

    ul {
        list-style: none;
    }

    @media screen and (max-width: 1200px) {
        

        }

        @media screen and (max-width: 950px) {


        }
        

@media  screen and (max-width: 800px) {
    
}