@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Condensed:ital@1&display=swap');


body {
    color:black;
    font-size: x-large;
    font-weight: 600;
   
}
#bg-image {
    background-image: url(../images/blue-water-bg.jpeg);
    background-size: cover;
    overflow:auto;
    width: 100%;
    height: auto;
}

#header {
    height: 120px;
    width: 100%;
    text-decoration: none;
}

#logo {
    border-radius: 35%;
    width: 120px;
    height: 120px;
    float: left;
    position: relative;

}

#main-heading {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-bottom: 60px;
    padding-left: 10px;
    position: relative;
}

.tab {
    overflow: hidden;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
	width: 32%;
    height: 50px;
    text-align: center;
	float:left;
	margin-left:1px;
    margin-right: 1px;
    padding: 4px;
    
}

nav > div {
    
    font-size: large;
    
}


#hero-image {
    display: block;
    Width: 100%;
    height: auto;
    padding: 0 auto;
    margin: 0 auto;
    border: 0 auto;
}

.contact {
    text-align: center;
}

footer > div    {
    text-align: center;
   
}

.social-icons {
    text-align: center;
}
.social-icons > li {
    display: inline;
}

.social-icons i {
    font-size: 50px;
    padding: 2%;
    margin: 2%;
    color: white;
}

.sign-up-form { 
    display: flexbox;
    text-align: center;
}

#submit {
    color: 	white;
    background-color: black;
}