@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Condensed:ital@1&family=Sail&display=swap');


body {
    background-image: url('../images/blue-water-bg.jpeg');
    background-size: cover;
    overflow: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
    font-weight: 500;
    background-color: #1CDDEB;
    text-align: center;
}

#header {
    height: 120px;
    width: 100%;
    text-decoration: none;
}

#main-heading {
    font-family: s;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-bottom: 60px;
    padding-left: 10px;
    position: relative;

}

.navbar {
    background-color: rgb(240 249 254 / 60%);
    width: 100%;
    overflow: auto;

}

.navbar a {
    float: left;
    width: 24%;
    height: 60px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;

}

nav>div {
    width: 25%;
    display: inline;

}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

nav div:hover {
    background-color: white;
    transition: 0.5s;

}

main {
    padding-top: 5%;
}



#hero-image {
    display: block;
    max-width: 70%;
    height: auto;
    margin: auto;
    padding-top: 130px;

}

h2,
h3 {
    text-align: center;
}

video {
    max-width: 70%;
    margin: auto;
    display: block;
}



#contact {
    text-align: center;
}

footer>div {
    text-align: center;
    background-color: rgb(225 237 243 / 50%);
    max-width: 70%;
    margin: auto;

}

.social-icons {

    display: inline;
}

.social-icons>li {
    display: inline;
    text-align: center;

}

.social-icons i {
    font-size: 50px;
    padding: 2%;
    margin: 2%;
    color: white;
}

.sign-up-form {
    text-align: center;
    margin-top: 100px;
    display: block;
}

#submit {
    background-color: white;
}

section {
    max-width: 70%;
    margin: auto;
    background-color: rgb(225 237 243 / 50%);
}

ul {
    list-style: none;
}

@media screen and (min-width: 1201px) {
    body {
        font-size: 28px;
    }

    .sign-up-form {
        text-align: center;
        margin-top: 75px;
        display: block;
    }

    .navbar a {
        font-size: 28px;
    }
}

@media screen and (min-width: 951px) and (max-width: 1200px) {
    body {
        font-size: 25px;
    }

    .navbar a {
        font-size: 24px;
    }
}

@media screen and (min-width: 601px) and (max-width: 950px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 35px;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
    }

    .navbar>div {

        text-align: center;
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 0 auto;
        height: 20px;
        overflow: hidden;
    }

    .navbar a {
        float: none;
        font-size: 15px;
    }


    h1 {
        font-size: 30px;
    }

    #hero-image {
        display: block;
        max-width: 70%;
        height: auto;
        margin-top: 100px;
        padding: 0;
    }

    .social-icons i {
        font-size: 30px;
        padding: 1%;
        margin: 1%;
        color: white;

    }

    ul {
        padding: 0%;
    }

}