@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Condensed:ital@1&display=swap');


body {
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-image: url(../images/blue-water-bg.jpeg);
    background-image: no-repeat center center;
}

#header {
    height: 300px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    text-decoration: none;
}


#main-heading {
  
    float: center;
    text-align: center;
    color: rgb(254, 254, 254);
    text-decoration: none;

}
.tab {
    overflow: hidden;
    border: 3px solid rgb(0, 0, 0);
    color: rgb(8, 8, 101);
    display:block;
	width: 400px;
    height: 50px;
    text-align: center;
	float:left;
	margin-left:2px;
}


#hero-image {
    display: block;
    Width: 900px;
    height: 400px;
}